asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.12
Cython==0.29.28
dj-database-url==0.5.0
Django==4.0.3
django-cors-headers==3.11.0
django-heroku==0.3.1
djangorestframework==3.13.1
googlemaps==4.6.0
hdbscan==0.8.28
idna==3.3
joblib==1.1.0
numpy==1.22.3
pandas==1.4.2
psycopg2==2.9.3
PyMySQL==1.0.2
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sqlparse==0.4.2
threadpoolctl==3.1.0
tzdata==2022.1
urllib3==1.26.9
whitenoise==6.1.0
django-dotenv==1.4.2
